#IF USE HOME USER MYSQL ENVIROMENT 
[mysqldump]
user=Mysql_User_Name
password=Mysql_User_Password

#IF USE GLOBAL MYSQL ENVIROMENT FOR ALL USERS IN THE SYSTEM, COPY THIS CONTENT TO /etc/mysql/conf.d/mysqldump.cnf
